<div class="d-flex justify-content-between align-items-center mb-2">
  <div>
    <%= link_to new_reservation_path do %>
      <button type="button" class="btn btn-outline-primary" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;" >
        Reset <i class="fa-solid fa-rotate-left" style="color: #3B71CA;"></i>
      </button>
    <% end %>
  </div>
  <div class="d-flex justify-content-end mb-2">
    <button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;" >
      Selected
    </button>
    <button type="button" class="btn btn-outline-primary" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;" >
      Can Select
    </button>
  </div>
</div>

<div class="table-container">
  <table class="table-calendar">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <% @theaters.each do |theater| %>
          <th scope="col">Theater <%= theater.id %></th>
        <% end %>
      </tr>
    </thead>
    <tbody >
      <% (10..23).each do |hour| %>
        <% (0..3).each do |quarter| %>
          <% time = Time.current.change(hour: hour, min: quarter * 15) %>
          <% next_time = time + 15.minutes %>
          <tr>
            <th scope="row">
              <%= time.strftime("%l:%M %p - ") %>
              <%= next_time.strftime("%l:%M %p") %>
            </th>
            <% @theaters.each do |theater| %>
              <td>
                <%= reservation_button_text(@reservation, theater, time, next_time) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
