<!--
<div class="day-view">
  <div class="time-slots">
    <% (0..23).each do |hour| %>
      <div class="time-slot">
        <%= "#{hour}:00" %>
      </div>
    <% end %>
  </div>
</div>
-->

<table class="table">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Theater <%= theater.id %></th>
    </tr>
  </thead>
  <tbody>
    <% (0..23).each do |hour| %>
      <tr>
        <th scope="row">
          <%= "#{hour}:00" %>
        </th>
        <% if theater.reservation_overlaps_with_hour?(hour) %>
          <% reservations = theater.reservations.select { |r| r.overlaps_with_hour?(hour) } %>
          <td>
            <% reservations.each do |reservation| %>
              <%= "Reservation ID: #{reservation.id}" %><br>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>All Reservations For Today:</h2>
<% if theater.reservations_for_date(Date.today).any? %>
  <ul>
    <% theater.reservations_for_date(Date.today).each do |reservation|%>
      <li><%= reservation.start_time.strftime("%B %d, %Y %I:%M %p") %> and <%= reservation.end_time.strftime("%B %d, %Y %I:%M %p") %></li>
    <% end %>
  </ul>
<% else %>
  <p>No reservations for this theater.</p>
<% end %>
