<div class="table-container">
  <table class="table-calendar">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <% @theaters.each do |theater| %>
          <th scope="col">Theater <%= theater.id %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% (10..23).each do |hour| %>
        <% (0..3).each do |quarter| %>
          <tr>
            <th scope="row">
              <% display_hour = hour < 12 ? hour : (hour - 12) %>
              <%= display_hour == 0 ? 12 : display_hour %>:<%= format('%02d', quarter * 15) %> <%= hour < 12 ? 'AM' : 'PM' %>
            </th>
            <% @theaters.each do |theater| %>
              <% reservations = theater.reservations_for_date(Date.today) %>
              <% overlaps_with_reservation = reservations.any? { |r| r.overlaps_with_interval?(hour, quarter) } %>
              <% td_class = overlaps_with_reservation ? 'reserved-cell' : '' %>
              <td class="<%= td_class %>">
                <% if !overlaps_with_reservation %>
                  <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                    <%= link_to new_reservation_path(start_time: "#{hour}:#{quarter * 15}", theater_id: theater.id) do %>
                      <i class="fas fa-plus-circle"></i>
                    <% end %>
                  </div>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
