<div class="table-container">
  <table class="table-calendar">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <% @theaters.each do |theater| %>
          <th scope="col">Theater <%= theater.id %></th>
        <% end %>
      </tr>
    </thead>
    <tbody >
      <% (10..23).each do |hour| %>
        <% (0..3).each do |quarter| %>
          <% time = Time.current.change(hour: hour, min: quarter * 15) %>
          <% next_time = time + 15.minutes %>
          <tr>
            <th scope="row">
              <%= time.strftime("%l:%M %p - ") %>
              <%= next_time.strftime("%l:%M %p") %>
            </th>
            <% @theaters.each do |theater| %>
              <td>
                <% if !theater.interval_reserved?(hour, quarter) && !(time < Time.current) %>
                  <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                    <% if !start_time %>
                      <%= link_to new_reservation_path(start_time: "#{hour}:#{quarter * 15}", theater_id: theater.id) do %>
                        <button type="button" class="btn btn-outline-primary" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;">
                          Available
                        </button>
                      <% end %>
                    <% else %>
                      <% end_time_hour = hour %>
                      <% end_time_quarter = quarter + 1 %>
                      <% end_time_hour += 1 if end_time_quarter == 4 %>
                      <% end_time_quarter = 0 if end_time_quarter == 4%>
                      <% if theater.id != theater_id %>
                        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                          <button type="button" class="btn btn-outline-secondary" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;" disabled>
                            Available
                          </button>
                        </div>
                      <% else %>
                        <!-- Start Time Selected, The cell is before the current time (I AM NOT SURE THIS WORKS) -->
                        <% if start_time > time %>
                          <button type="button" class="btn btn-outline-secondary" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;" disabled>
                            Available
                          </button>
                        <% end %>

                        <!-- Start Time Selected, The Cell is the Start Time -->
                        <% if @reservation.selected_start_time?(hour, quarter) %>
                          <%= link_to new_reservation_path(start_time: start_time, theater_id: theater_id, end_time: "#{end_time_hour}:#{end_time_quarter * 15}") do %>
                            <button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;">
                              Select End Time
                            </button>
                          <% end %>
                        <% end %>

                        <!-- Start Time Selected, The cell is after the start_time and after a reservation -->
                        <% if theater.next_reservation_after(start_time).start_time < time && time > start_time %>
                          <button type="button" class="btn btn-outline-secondary" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;" disabled>
                            Available
                          </button>
                        <% end %>
                        <!-- Start Time Selected, The cell is after the start_time -->
                        <% if !(theater.next_reservation_after(start_time).start_time < time) && time > start_time %>
                          <%= link_to new_reservation_path(start_time: start_time, theater_id: theater_id, end_time: "#{end_time_hour}:#{end_time_quarter * 15}") do %>
                            <button type="button" class="btn btn-outline-primary" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;">
                              Select End Time
                            </button>
                          <% end %>
                        <% end %>

                      <% end %>
                    <% end %>
                  </div>
                <% else %>
                  <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                    <button type="button" class="btn btn-outline-secondary" style="--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;" disabled>
                      Unavailable
                    </button>
                  </div>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
