<%= form_with(model: reservation) do |form| %>

  <div>
    <%= form.hidden_field :theater_id %>
  </div>

  <div>
    <%= form.hidden_field :status %>
  </div>

  <div>
    <%= form.hidden_field :start_time %>
  </div>

  <div>
    <%= form.hidden_field :end_time %>
  </div>

  <% if @reservation.end_time %>
    <div>
      <%= form.label :number_guests, style: "display: block" %>
      <%= form.select :number_guests, options_for_select(1..reservation.theater.number_of_seats) %>
    </div>
  <% end %>

  <% if @reservation.end_time %>
    <div>
      <%= form.label :content_choice, style: "display: block" %>
      <%= form.select :content_choice, options_for_select(Reservation.content_choices.map { |key, value| [key.humanize, Reservation.content_choices.key(value)]}, @reservation.content_choice) %>
    </div>
  <% end %>

  <% if @reservation.end_time %>
    <div>
      <%= form.submit "Reserve Your Theater"%>
    </div>
  <% end %>
<% end %>
