<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :theater_id %>
  </div>

  <div>
    <%= form.hidden_field :status %>
  </div>

  <div>
    <%= form.hidden_field :start_time %>
  </div>

  <div>
    <%= form.hidden_field :end_time %>
  </div>

  <% if @reservation.end_time %>
    <div>
      <%= form.label :number_guests, style: "display: block" %>
      <%= form.select :number_guests, options_for_select(1..reservation.theater.number_of_seats) %>
    </div>
  <% end %>

  <% if @reservation.end_time %>
    <div>
      <%= form.label :content_choice, style: "display: block" %>
      <%= form.select :content_choice, options_for_select(Reservation.content_choices.values.map(&:humanize), @reservation.content_choice) %>
    </div>
  <% end %>

  <% if @reservation.end_time %>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
