<div id="<%= dom_id reservation %>">
  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Theater:</strong>
    <%= reservation.theater_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= reservation.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= reservation.end_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= reservation.duration %>
  </p>

  <p>
    <strong>Number guests:</strong>
    <%= reservation.number_guests %>
  </p>

  <p>
    <strong>Content choice:</strong>
    <%= reservation.content_choice %>
  </p>

</div>
