<div class="table-container">
  <table class="table-calendar">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <% @theaters.each do |theater| %>
          <th scope="col">Theater <%= theater.id %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% if @reservations_on_date.present? %>
        <% @reservations_on_date.each do |reservation| %>
          <%= reservation.start_time.strftime("%b %d, %Y - %l:%M %p") %>
        <% end %>
      <% end %>
      <% (10..23).each do |hour| %>
        <% (0..3).each do |quarter| %>
          <% time = @selected_datetime.in_time_zone.change(hour: hour, min: quarter * 15) %>
          <% next_time = time + 15.minutes %>
          <tr>
            <th scope="row">
              <%= time.strftime("%l:%M %p - ") %>
              <%= next_time.strftime("%l:%M %p") %>
            </th>
            <% @theaters.each do |theater| %>
              <td>
                <% if !theater.interval_reserved?(time.hour, time.min / 15, @selected_date) %>
                  Available
                <% else %>
                  <% reservation = theater.find_reservation_for_interval(time.hour, time.min / 15, @selected_date) %>
                  <%= link_to "#{reservation.start_time.strftime("%l:%M %p - ")} #{reservation.end_time.strftime("%l:%M %p")}" , reservation_path(reservation), class: 'btn btn-primary', style: '--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .5rem;'%>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
