<div class="mt-4">
  <h1>Reservations</h1>
  <p>Current Time: <%= Time.current.strftime("%l:%M %p") %></p>

  <% if current_user == nil %>
    <p>Sign in to make a reservation</p>
  <% else %>
    <% if current_user.user_type == "standard" %>
      <%= link_to "New reservation", new_reservation_path %>

      <%# CURRENT RESERVATIONS%>
      <% if current_user.reservations.current.any? %>
        <h2>Current Reservation</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% current_user.reservations.current.each do |reservation| %>
            <%= render reservation %>
          <% end %>
        </div>
      <% end %>

      <%# FUTURE RESERVATIONS %>
      <% if current_user.reservations.future.any? %>
        <h2>Upcoming Reservations</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% current_user.reservations.future.each do |reservation| %>
            <%= render reservation %>
          <% end %>
        </div>
      <% end %>

      <%# PAST RESERVATIONS %>
      <% if current_user.reservations.past.any? %>
        <h2>Previous Reservations</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% current_user.reservations.past.each do |reservation| %>
            <%= render reservation %>
          <% end %>
        </div>
      <% end %>

    <% elsif current_user.user_type == "admin" %>
      <h3>Admin View</h2>
      <p>Approach:</p>
      <p>Make it like the new reservations thing, but instead of buttons it shows the name on the reservation</p>
      <p>Able to click into the reservation</p>

    <div class="d-flex justify-content-center mt-3 mb-3">
      <%= form_tag(reservations_path, method: :get) do %>
        <%= label_tag "Select Date: " %>
        <%= date_field_tag :date, @selected_date %>
        <%= submit_tag "See Availability", class: 'btn btn-primary', style: '--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .8rem;'%>
      <% end %>
    </div>

    <h4>
      Table
    </h4>    
    <div><%= render "admin_table" %></div>
    <div class="mt-4">
      <h4 style="mt-4">
        Schedule
      </h4>
    </div>

    <div><%= render "schedule" %></div>
    
    <% end %>
  <% end %>
</div>
