<h1>New reservation</h1>

<div>
  Current Time: <%= Time.current.strftime("%l:%M %p") %>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <%= render "shared/calendar", theaters: @theaters, start_time: @reservation.start_time, end_time: @reservation.end_time, theater_id: @reservation.theater_id  %>
    </div>
    <div class="col">
      <% if @reservation.start_time %>
        <div>Start Time: <%= @reservation.start_time.strftime("%l:%M %p") if @reservation.start_time %> </div>
      <% else %>
        <div>Select an available time for the start of your reservation.</div>
      <% end %>
      <% if @reservation.end_time %>
        <div>End Time: <%= @reservation.end_time.strftime("%l:%M %p") if @reservation.end_time %> </div>
      <% end %>

      <%= render "form", reservation: @reservation %>
    </div>
  </div>
</div>






<br>

<div>
  <%= link_to "Back to reservations", reservations_path %>
</div>
