<!-- Error Message -->
<% if @reservation.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
    <strong><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</strong> 
    <ul>
      <% @reservation.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>


<h1>New reservation</h1>

<div>
  Current Time: <%= Time.current.strftime("%l:%M %p") %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if @reservation.start_time %>
        <div>Start Time: <%= @reservation.start_time.strftime("%l:%M %p") if @reservation.start_time %> </div>
        <% if @reservation.end_time %>
          <div>End Time: <%= @reservation.end_time.strftime("%l:%M %p") if @reservation.end_time %> </div>
          <div><strong>Fill out the remainder of your reservation info!</strong></div>
        <% else %>
          <div><strong>Select an available time for the end of your reservation.</strong></div>
        <% end %>
      <% else %>
        <div><strong>Select an available time for the start of your reservation.</strong></div>
      <% end %></strong>

      <%= render "form", reservation: @reservation %>
    </div>
    <div class="col-md-9">
      <%= render "shared/calendar", theaters: @theaters, start_time: @reservation.start_time, end_time: @reservation.end_time, theater_id: @reservation.theater_id  %>
    </div>
  </div>
</div>






<br>

<div>
  <%= link_to "Back to reservations", reservations_path %>
</div>
