<div id="<%= dom_id theater %>">
  <p>
    <strong>Number of seats:</strong>
    <%= theater.number_of_seats %>
  </p>

  <p>
    <strong>Turnover time:</strong>
    <%= theater.turnover_time %>
  </p>

  <p>
    <strong>Reservations count:</strong>
    <%= theater.reservations_count %>
  </p>

  <h2>All Reservations For Today:</h2>
  <% if theater.reservations_for_date(Date.today).any? %>
    <ul>
      <% theater.reservations_for_date(Date.today).each do |reservation|%>
        <li><%= reservation.start_time.strftime("%B %d, %Y %I:%M %p") %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No reservations for this theater.</p>
  <% end %>

  <%= render "shared/calendar" %>
</div>
