<div id="<%= dom_id theater %>">
  <%= render "shared/calendar", theater: theater %>
  <p>
    <strong>Number of seats:</strong>
    <%= theater.number_of_seats %>
  </p>

  <p>
    <strong>Turnover time:</strong>
    <%= theater.turnover_time %>
  </p>

  <p>
    <strong>Reservations count:</strong>
    <%= theater.reservations_count %>
  </p>
</div>
